[submodule "SwordToOffer"]
	path = SwordToOffer
	url = https://github.com/aqiugroup/SwordToOffer.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/aqiugroup/snippets.git
[submodule "labuladong_algo"]
	path = labuladong_algo
	url = https://github.com/aqiugroup/labuladong_algo.git
[submodule "py2cpp/pybind"]
	path = py2cpp/pybind
	url = https://github.com/aqiugroup/pybind
[submodule "snippets-python"]
	path = snippets-python
	url = https://github.com/aqiugroup/snippets-python.git
